<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:group {"tagName":"header","style":{"spacing":{"padding":{"top":"var(--wp--custom--header-spacing)"},"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
	<header class="wp-block-group" style="padding-top:var(--wp--custom--header-spacing)">
		<!-- wp:query-title {"type":"archive","showPrefix":false,"align":"wide","fontSize":"display"} /-->

		<!-- wp:term-description {"align":"wide","textColor":"secondary-text"} /-->
	</header>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"stanza/feed-typographic"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
