<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var(--wp--custom--header-spacing)","bottom":"var:preset|spacing|200"},"blockGap":"var:preset|spacing|120"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--custom--header-spacing);padding-bottom:var(--wp--preset--spacing--200)">
	<!-- wp:post-title {"level":1,"align":"wide","fontSize":"display"} /-->

	<!-- wp:post-content {"layout":{"type":"default"}} /-->

	<!-- wp:group {"style":{"border":{"top":{"color":"var:preset|color|border","width":"1px","style":"solid"}},"spacing":{"padding":{"top":"var:preset|spacing|120"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group" style="border-top-color:var(--wp--preset--color--border);border-top-style:solid;border-top-width:1px;padding-top:var(--wp--preset--spacing--120)">
		<!-- wp:comments -->
		<div class="wp-block-comments">
			<!-- wp:heading {"level":2,"fontSize":"heading-3"} -->
			<h2 class="wp-block-heading has-heading-3-font-size">Comments</h2>
			<!-- /wp:heading -->

			<!-- wp:comments-title {"level":3,"fontSize":"heading-4"} /-->

			<!-- wp:comment-template -->
				<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
				<div class="wp-block-group">
					<!-- wp:avatar {"size":48,"style":{"border":{"radius":"50%"}}} /-->

					<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"default"}} -->
					<div class="wp-block-group">
						<!-- wp:comment-author-name {"style":{"typography":{"fontWeight":"700"}}} /-->

						<!-- wp:comment-date {"textColor":"tertiary-text","fontSize":"meta"} /-->

						<!-- wp:comment-content /-->

						<!-- wp:group {"fontSize":"meta","layout":{"type":"flex","flexWrap":"wrap"}} -->
						<div class="wp-block-group has-meta-font-size">
							<!-- wp:comment-edit-link /-->

							<!-- wp:comment-reply-link /-->
						</div>
						<!-- /wp:group -->
					</div>
					<!-- /wp:group -->
				</div>
				<!-- /wp:group -->
			<!-- /wp:comment-template -->

			<!-- wp:comments-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
				<!-- wp:comments-pagination-previous /-->
				<!-- wp:comments-pagination-numbers /-->
				<!-- wp:comments-pagination-next /-->
			<!-- /wp:comments-pagination -->

			<!-- wp:post-comments-form /-->
		</div>
		<!-- /wp:comments -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
